<%-include("partials/header.ejs")%>
<h1 class="main-title">Events</h1>
<%-include("partials/loader.ejs")%>
<div class="container" id="events">
    <% if(events.length > 0) { %>
			<%for (let i = 0; i < events.length; i++) {%>
				<%-include("partials/events.ejs",{event:events[i]})%>
			<%}%>
		<% } else { %>
			<%-include("partials/coming-soon.ejs")%>
		<% } %>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 1.5rem;">Register for Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black; font-size: 1.25rem;">
                Are you sure you want to register?
                <h6 id="err-box" style="color: black;display: none;margin: 0;margin-top: 10px;"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close-btn">Close</button>
                <form id="register-form">
                    <button id="submit-btn" class="btn btn-success" type="submit">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
		$('#events').hide()
		$(window).on('load', function () {
				$('#loader').hide()
				$('#events').show()
		})

    AOS.init({
        duration: 1000,
    })
    const registerModal = document.getElementById('registerModal')
    window.onload = ()=>{
        const token = sessionStorage.getItem("auth-token");
        const errBox = document.getElementById("err-box");
        const user = sessionStorage.length>0?JSON.parse(sessionStorage.getItem("sensors22User")).user:{};
        const btn = document.getElementById("submit-btn");
        const flash = document.querySelector(".flash-container");
        // flash.innerHTML = '';
        if(!token || !user){
            btn.style.display = "none";
            errBox.innerText = "Please Login First to register";
            errBox.style.display = "block";
        }else{
            btn.style.display = "block";
            $('#registerModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget) // Button that triggered the modal
                const recipient = button.data('link') // Extract info from data-* attributes
                const link = `/api/events/${user._id}/register/${recipient}`
                btn.addEventListener("click",async(e)=>{
                    e.preventDefault();
                    try{
                        const res = await axios({
                            method: 'post', //you can set what request you want to be
                            url: link,
                            headers: {
                                "auth-token": token
                            }
                        });
                        const data = res.data;
                        if(data && data.status === 1){
                            const msg = `
                            <div id="success-box" class="alert alert-success" role="alert">
                                ${res.data.msg}
                            </div>
                            `;
                            // flash.innerHTML = msg;
                            window.location.href = "/events";
                        }else{
                            const msg = `
                            <div id="err-box" class="alert alert-danger" role="alert">
                                ${res.data.msg}
                            </div>
                            `;
                            // flash.innerHTML = msg;
                            window.location.href = "/events";
                        }
                        document.getElementById("modal-click-btn").click();
                    }catch(e){
                        console.log(e);
                    }
                });
            })
        }
    }
</script>
<%-include("partials/footer.ejs")%>