<%-include("partials/header.ejs")%>

<h1 class="main-title">Team</h1>
<div class="loadinCoantiner" id="teamLoader">
    <div class="bouncer">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="container" id="teams">
    <div class="row justify-content-center">
				<% for(var i = 0; i < data.length; i++) { %>
					<div class="column">
							<div class="team-6">
									<div class="team-img">
											<img src="assets/Images/Team/Ajay Shankar S.jpeg.JPG" alt="Team Image" />
									</div>
									<div class="team-content">
											<% if(data[i].Name.length > 13) { %>
												<h2><%= helper.firstName(data[i].Name) %> <br/> <%= helper.lastName(data[i].Name) %></h2>
											<% } else { %>
												<h2><%= data[i].Name %></h2>
											<% } %>
											<h3><%= data[i].Position %></h3>
									</div>
							</div>
					</div>
				<% } %>
    </div>
</div>

<script>
    const linkTag = document.createElement("link");
    linkTag.rel = 'stylesheet';
    linkTag.href = 'css/articles.css';
    document.head.appendChild(linkTag);
    window.onload = ()=>{
        $('#teams').hide()
        $('#teamLoader').hide()
        $('#teams').show()
    }
</script>
<%-include("partials/footer.ejs")%>