<%-include("partials/header.ejs")%>
<h1 class="main-title">Webinars</h1>

<%-include("partials/loader.ejs")%>
<div class="ui cont" style="background: #000000; padding: 5px" id="webinar">
    <div class="ui link cards row" style="display: flex; justify-content: center; align-items: center">
        <% if(data.webinarDetails.length > 0) { %>
					<% for(let i = 0; i < data.webinarDetails.length; i++){ %>
						<%-include("partials/webinar.ejs", {i})%>
					<% } %>
				<% } else { %>
				<%-include("partials/coming-soon.ejs")%>
				<% } %>
    </div>
</div>

<script>
    const linkTag = document.createElement("link");
    linkTag.rel = 'stylesheet';
    linkTag.href = 'css/articles.css';
    document.head.appendChild(linkTag);

		$('#webinar').hide()
		$(window).on('load', function () {
				$('#loader').hide()
				$('#webinar').show()
		})

    window.onload = ()=>{
        function openModal(ola, j) {
            var i
            for (i = 1; i < 10; i++) {
                if (i != j) {
                    olaa = '.ui.fullscreen.modal.' + i
                    $(olaa).modal('hide')
                }
            }
            $(ola).modal('show')
            $(ola).modal({
                closable: true,
            })
            $('.cont').dimmer('show')
        }

        function closeModal(ola) {
            $(ola).modal('hide')
        }
    }
</script>
<%-include("partials/footer.ejs")%>